@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>

    <body>
        <div class="text-center">
            <h3>WE'RE GOING TO HAVE AN EXCITING PARTY!</h3>
            <h4>AND YOU'RE INVITED!!</h4>
            <a class="btn btn-danger" asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>

